.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
  padding: 20px;
  margin: 20px;
  min-height: 500px;
  min-width: 400px;
}
input, .btn{
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 0 5px;
  background-color: #fff;
}
.addBtn{
  border: 1px solid green;
  color: green;
}
.addBtn:hover{
  background-color: green;
  color: #fff;
  cursor: pointer;
}
.deleteBtn, .deleteAllBtn{
  border: 1px solid red;
  color: red;
}
.deleteBtn:hover, .deleteAllBtn:hover{
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.listItems{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px 0px !important;
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
}
.listItems span i {
  padding: 0 10px;
  cursor: pointer;
}