.custNavLinks{
    padding: 10px;
    text-decoration: none;
    border: 0;
    color: #fff;
}
.linkMobile{
    padding: 10px;
    text-decoration: none;
    border: 0;
    color: #000;
}
.custNavLinks:hover{
    background-color: #272727;
}
.progress-bar {
    position: fixed;
    top: 63px;
    left: 0;
    right: 0;
    height: 10px;
    background: #272727;
    transform-origin: 0%;
  }